extends layout


block content

        section( id='inicio' )
            div( class='container secundary content-section' )
                div( class='row justify-content-md-center' )
                    div( class='col-12 col-md-12' )
                        nav( class='breadcrumb' )
                            a( href='/' class='breadcrumb-item' ) Inicio
                            span( class='breadcrumb-item active' )= title
                    
                    div( class='col-12' )
                        h2= title
                    
                div( class='row justify-content-md-center' )
                    div( class='col-md-10 offset-md-1' data-aos='zoom-in' )
                        p( class='row-text' ) Desde las diferentes áreas del conocimiento que se desarrollan en el IMTA, hacemos investigación y desarrollamos estrategias y herramientas teóricas-tecnológicas para la:
                        ul( data-aos='zoom-in' )
                            li( class='row-text' ) Detección y atribución de cambio climático (pasado).
                            li( class='row-text' ) Proyección de escenarios climáticos (futuro).
                            li( class='row-text' ) Adaptación al cambio climático.
                            li( class='row-text' ) Mitigación al cambio climático.
                            li( class='row-text' ) Divulgación y comunicación del conocimiento y cultura del agua respecto al cambio climático.
                            
        section( class='section-grey' )
            div( class='container secundary content-section' )
                div( class='row justify-content-md-center' )
                    div( class='col-md-10 offset-md-1' )
                        h2 Implementación del Programa Estratégico de Cambio Climático del IMTA
                        
                    div( class='col-12' )
                        div
                            table( class='table table-hover' )
                                thead( class='text-primary' data-aos='zoom-in' ) 
                                    tr( class='d-flex' )
                                        th( class='col-2' )
                                            p Fecha
                                        th( class='col-5' )
                                            p Reunión
                                        th( class='col-5' )
                                            p Resultado
                                    
                                
                                tbody
                                    tr( class='d-flex' data-aos='zoom-in' )
                                        td( class='text-primary col-2' )
                                            p Martes 13 de marzo de 2017
                                        td( class='col-5' )
                                            p Reunión para la planeación de dos propuestas de proyecto financiables con fondos externos al IMTA y un producto emblemático que involucrara a todas las coordinaciones.
                                        td( class='col-5' )
                                            p Se nombraron representantes institucionales para asistir en reuniones nacionales o internacionales.
                                    
                                    tr( class='d-flex' data-aos='zoom-in' )
                                        td( class='text-primary col-2' )
                                            p Martes 28 de marzo de 2017
                                        td( class='col-5' )
                                            p Reunión para analizar los marcos conceptuales que permitirán generar la metodología de dos proyectos multidisciplinarios del IMTA en el tema de Cambio Climático con potencial de financiamiento externo.
                                        td( class='col-5' )
                                            p Se sentaron las bases para la generación de metodologías para los dos proyectos multidisciplinarios. De esta forma, se presentaron los objetivos del proyecto institucional y bosquejo de acciones para el 2017. Así que se consideraron:
                                            ul
                                                li El análisis de las capacidades institucionales (PECCI).
                                                li La Identificación de la problemática a resolver.
                                                li Los fondos potenciales para desarrollar la propuesta.
                                                li Los Procedimientos para generar las metodologías.
                                            p Se identificaron los pasos a seguir para lograr el objetivo en las siguientes reuniones:
                                            ul
                                                li Conocer los Planes y Programas Nacionales de CC (FIN).
                                                li Identificación de la problemática a resolver.
                                                li Alinearla a los Planes y Programas.
                                                li Identificación y análisis de las reglas de operación de los fondos potenciales.
                                                li Generación de metodologías aplicando el “Marco Lógico” para dos propuestas multidisciplinarias.
                                                li Incorporar a los usuarios finales.
                                                li Someter las dos propuestas al fondo seleccionado.
                                            
                                        
                                    
                                    tr( class='d-flex' data-aos='zoom-in' )
                                        td( class='text-primary col-2' )
                                            p Martes 30 de mayo de 2017
                                        td( class='col-5' )
                                            p Reunión para presentar los avances y algunas observaciones que han desarrollado respectivamente, el Ingeniero agrónomo Leonardo Pulido Madrigal en la mitigación al cambio climático en el sector agropecuario y el Dr. Martín José Montero Martínez, con respecto a la segunda reunión ordinaria del grupo de trabajo de políticas de adaptación en donde el IMTA participó sobre el proceso de generación de escenarios que se usaron para la quinta comunicación del país.p Presentación de la Agenda de Cambio Climático y Producción Agroalimentaria desarrollada por IICA y la GIZ.
                                        td( class='col-5' )
                                            p Se considerarán las aportaciones del Dr. Martín Montero y del Ingeniero Leonardo Pulido para el libro multidisciplinario en materia de cambio climático que el grupo desarrollará.p Se identificaron los puntos específicos de acción en donde el IMTA podría converger en la Agenda de Cambio Climático y Producción Agroalimentaria desarrollada por IICA y la GIZ.p Se establecieron las primeras bases de colaboración con los miembros del IICA y la GIZ para trabajar en la Agenda de Cambio Climático y Producción Agroalimentaria.
                                    
                                    tr( class='d-flex' data-aos='zoom-in' )
                                        td( class='text-primary col-2' )
                                            p Martes 4 de julio y miércoles 5 de julio de 2017
                                        td( class='col-5' )
                                            p Reunión para la Impartición del taller en la planeación del proyecto “Implementación del Programa Estratégico de Cambio Climático del IMTA”.
                                        td( class='col-5' )
                                            p Se construyó con los 6 equipos de trabajo (bases científicas, adaptación, mitigación, finanzas, políticas y comunicación) las bases para la segunda versión del proyecto: “Programa Estratégico de Cambio Climático del IMTA” a través de la metodología del Metaplan-Programa Operativo Anual (POA).
                                            p Así mismo, el objetivo del proyecto cambió y quedó bajo el concepto de “Reducir la vulnerabilidad hídrica frente al cambio climático”. Bajo este objetivo se diseñaron las líneas de investigación que trabajaría cada equipo como:
                                            ul
                                                li Mitigación.
                                                li Adaptación.
                                                li Vulnerabilidad hídrica.
                                                li Gobernanza.
                                                li Gestión de riesgos.
                                                li Evaluación de impactos.