extends layout


block content
                            
        
        section( id='inicio' )
            div( class='container secundary content-section' )
                div( class='row justify-content-md-center' )
                    div( class='col-12 col-md-12' )
                        nav( class='breadcrumb' )
                            a( href='/' class='breadcrumb-item' ) Inicio
                            span( class='breadcrumb-item active' )= title
                    div( class='col-md-12' )
                        h2= title
                div( class='row justify-content-md-center' )
                    div( class='col-md-10 col-md-offset-1' data-aos='zoom-in' data-aos-delay='300' )
                        p( class='row-text pb-5' ) Somos un grupo multidisciplinario gubernamental que nos mantenemos a la vanguardia en la gestión, construcción, divulgación y comunicación del conocimiento, principalmente en materia de agua relacionado a cambio climático a nivel local, regional y nacional.
                div( class='row' )
                    div( class='col-md-12' data-aos='zoom-in' )
                        img( src='img/team.jpg' alt='' class='img img-raised' )
                            
                            
        section( class='section-grey' )
            div( class='container content-section text-center' )
                div( class='row' )
                    div( class='col-md-12' )
                        h2 Colaboradores
                div( class='row justify-content-md-center' )
                    div( class='col-lg-4' )
                        div( class='team-player' data-aos='fade-right' data-aos-delay='300')
                            div( class='avatar img-raised' )
                                img( src='img/team/grupo/6.jpg' alt='Thumbnail Image' )
                            h5( class='title' ) Martín José Montero Martínez
                            h6( class='job' )
                                strong Tecnólogo
                            a( href='mailto:martin_montero@tlaloc.imta.mx' target='_blank' ) martin_montero@tlaloc.imta.mx
                    div( class='col-lg-4' )
                        div( class='team-player' data-aos='zoom-out' data-aos-delay='300')
                            div( class='avatar img-raised' )
                                img( src='img/team/grupo/4.jpg' alt='Thumbnail Image' )
                            h5( class='title' ) Juan Gabriel García Maldonado
                            h6( class='job' )
                                strong Tecnólogo
                            a( href='mailto:gabriel_garcia@tlaloc.imta.mx' target='_blank' ) gabriel_garcia@tlaloc.imta.mx
                    div( class='col-lg-4' )
                        div( class='team-player' data-aos='fade-left' data-aos-delay='300')
                            div( class='avatar img-raised' )
                                img( src='img/team/3.png' alt='Thumbnail Image' )
                            h5( class='title' ) José Antonio Salinas Prieto
                            h6( class='job' )
                                strong Tecnólogo
                            a( href='mailto:jsalinas@tlaloc.imta.mx' target='_blank' ) jsalinas@tlaloc.imta.mx
                    div( class='col-lg-4' )
                        div( class='team-player' data-aos='fade-right' data-aos-delay='300')
                            div( class='avatar img-raised' )
                                img( src='img/team/3.png' alt='Thumbnail Image' )
                            h5( class='title' ) David Ortega Gaucin
                            h6( class='job' )
                                strong Tecnólogo
                            a( href='mailto:dortega@tlaloc.imta.mx' target='_blank' ) dortega@tlaloc.imta.mx
                    div( class='col-lg-4' )
                        div( class='team-player' data-aos='zoom-out' data-aos-delay='300')
                            div( class='avatar img-raised' )
                                img( src='img/team/grupo/1.jpg' alt='Thumbnail Image' )
                            h5( class='title' ) Rebeca González Villela
                            h6( class='job' )
                                strong Tecnólogo
                            a( href='mailto:rebeca_gonzalez@tlaloc.imta.mx' target='_blank' ) rebeca_gonzalez@tlaloc.imta.mx
                    div( class='col-lg-4' )
                        div( class='team-player' data-aos='fade-left' data-aos-delay='300')
                            div( class='avatar img-raised' )
                                img( src='img/team/grupo/3.jpg' alt='Thumbnail Image' )
                            h5( class='title' ) Pedro Antonio Guido Aldana
                            h6( class='job' )
                                strong Tecnólogo
                            a( href='mailto:pedroguido@tlaloc.imta.mx' target='_blank' ) pedroguido@tlaloc.imta.mx
                    div( class='col-lg-4' )
                        div( class='team-player' data-aos='fade-right' data-aos-delay='300')
                            div( class='avatar img-raised' )
                                img( src='img/team/grupo/18.jpg' alt='Thumbnail Image' )
                            h5( class='title' ) Ernesto Aguilar Garduño
                            h6( class='job' )
                                strong Tecnólogo
                            a( href='mailto:eaguilar@tlaloc.imta.mx' target='_blank' ) eaguilar@tlaloc.imta.mx            
                    div( class='col-lg-4' )
                        div( class='team-player' data-aos='zoom-out' data-aos-delay='300')
                            div( class='avatar img-raised' )
                                img( src='img/team/6.png' alt='Thumbnail Image' )
                            h5( class='title' ) Ana Palacios Fonseca
                            h6( class='job' )
                                strong Tecnólogo
                            a( href='mailto:ana_palacios@tlaloc.imta.mx' target='_blank' ) ana_palacios@tlaloc.imta.mx
                    div( class='col-lg-4' )
                        div( class='team-player' data-aos='fade-left' data-aos-delay='300')
                            div( class='avatar img-raised' )
                                img( src='img/team/grupo/2.jpg' alt='Thumbnail Image' )
                            h5( class='title' ) Ramiro Vega N.
                            h6( class='job' )
                                strong Tecnólogo
                            a( href='mailto:ramiro@tlaloc.imta.mx' target='_blank' ) ramiro@tlaloc.imta.mx
                            
                            
                div( class='row' )
                    div( class='col-md-12' )
                        h3( class='externo' ) Consultores externos
                div( class='row justify-content-md-center' )
                    div( class='col-lg-4' )
                        div( class='team-player' data-aos='fade-right' data-aos-delay='300')
                            div( class='avatar img-raised' )
                                img( src='img/team/grupo/12.jpg' alt='Thumbnail Image' )
                            h5( class='title' ) Abril Ariana Pérez Canales
                            h6( class='job' )
                                strong Educadora Ambiental
                            a( href='mailto:abrilxcomunicolog@gmail.com' target='_blank' ) abrilxcomunicolog@gmail.com
                    div( class='col-lg-4' )
                        div( class='team-player' data-aos='zoom-out' data-aos-delay='300' )
                            div( class='avatar img-raised' )
                                img( src='img/team/4.png' alt='Thumbnail Image' )
                            h5( class='title' ) Israel Torres García
                            h6( class='job' )
                                strong Web Master
                            a( href='mailto:ckreo.one@gmail.com' target='_blank' ) ckreo.one@gmail.com